/lib-builtins/target
/lib-builtins-test/target
/target
**/*.rs.bk

# opt-proto artifacts
**/*.ll
**/*.s
**/*.out
**/*-artifacts

# Editor/system files
*.swp
*~
.DS_Store
.vscode
.devcontainer
.tmp-exe-*
