/crates/morphic_backend/tal/wasm/src/dlmalloc.inc linguist-vendored
/crates/morphic_common/src/pretty_print/persistent.sml linguist-vendored
/samples/expected-output/* linguist-generated
/samples/sample-input/* linguist-vendored
/vendor/* linguist-vendored