@import 'scrollbar-polyfill';
@import 'github-markdown';

$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 300;

$font-family-code: 'Fira Code', monospace;
$font-family-text: 'Source Sans Pro', sans-serif;

$navbar-width: 12.5rem;
$navbar-hide-width: #{3 * $navbar-width};
$navbar-background: #f5f5f5;

$main-indent-width: 1rem;

* {
  // Work around for bug where Chrome does not respect font weight:
  // https://stackoverflow.com/questions/22001035/font-weight-ignored-in-chrome
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-height: 100vh;
}

@media all and (max-width: $navbar-hide-width) {
  nav { display: none; }
}

@media all and (min-width: $navbar-hide-width) {
  nav {
    position: fixed;
    width: $navbar-width;
    height: 100vh;
    overflow-y: auto;
    @include scrollbar-style(thin, auto, auto);

    display: flex;
    flex-direction: column;

    background-color: $navbar-background;
    font-family: $font-family-code;
    font-weight: $font-weight-light;

    hr {
      width: 100%;
      min-height: 1px;
      height: 1px;
      border: none;
      background-color: black;
      color: black;
    }

    .spacer {
      // This is a total hack, but it works
      border-top: 0.4rem solid transparent;
      border-bottom: 0.4rem solid transparent;
    }

    #nav-logo {
      align-self: center;
    }

    .header {
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;

      text-decoration: none;
      color: inherit;

      background: white;
      outline: 1px solid black;
      border-right: #{0.3 * $navbar-width} solid transparent;
      border-left: #{0.3 * $navbar-width} solid transparent;
    }

    .section-header, .section-entry {
      display: table;
      width: 100%;
      font-size: 0.9rem;
      text-decoration: none;
      color: inherit;
      &:hover {
        background-color: mix($navbar-background, white, 50%);
      }
    }

    .section-header span {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

    .section-entry span {
      display: table-cell;
      vertical-align: middle;
      padding-left: 0.5rem;
    }
  }
}

@media all and (min-width: $navbar-hide-width) {
  main { margin-left: $navbar-width; }
}

main {
  position: relative;
  padding-top: 1rem;
  padding-left: 3rem;

  font-family: $font-family-text;
  font-weight: $font-weight-regular;

  code {
    font-family: $font-family-code;
    font-weight: $font-weight-light;
  }

  //////////
  // HEADERS
  //////////

  .header, .section-header {
    font-weight: $font-weight-bold;
    font-size: 2rem;
  }

  .subsection-header {
    padding-left: $main-indent-width;

    font-weight: $font-weight-bold;
    font-size: 1.5rem;
  }

  .section-entry-header, .subsection-entry-header {
    margin: 0 2px;
    padding: 0 5px;

    font-family: $font-family-code;
    font-weight: $font-weight-bold;
  }

  .subsection-entry-header {
    padding-left: $main-indent-width;
  }

  /////////
  // BODIES
  /////////

  .body, .section-entry-body, .subsection-entry-body {
    @include github-markdown-style;
  }


  .body, .section-entry-body {
    padding-left: $main-indent-width;
  }
  

  .subsection-entry-body {
    padding-left: #{2 * $main-indent-width};
  }
}
